html, body {
	margin:0;
	padding:0;
	min-height:100%;
	background-color:white;
}
h1, h2, h3 {
	color:#151B54;
	font-family:"Arial"
}
p {
	font:13px Arial;
}
li {
	font:12px Arial;
}
#container {
	min-height:100%;
	position:0px;
}
#header {
	padding:0px;
	position:relative;
}
#content {
	padding:0px;
	padding-bottom:80px;
	margin-left:10%;
	margin-right:10%;
	position:relative;
	width:100%;
	font-family:"Arial"
}
p#note {
	color:#C11B17;
	font:15px Arial;
	text-align:center;
}
#footer {
	color:#151B54;
	text-align:center;
	position:relative;
	bottom:0px;
	left:0px;
	width:100%;
	height:18px;
}
a:link {
	text-decoration: underline;
	color:darkblue;
	font-family:"Arial"
}
a:visited {
	text-decoration: underline;
	color:gray;
	font-family:"Arial"
}
a:active {
	text-decoration: underline;
	color:blue;
	font-family:"Arial"
}
a:hover {
	text-decoration: underline;
	font-weight: bold;
	color:maroon;
	font-family:"Arial"
}